@inject HttpClient Http;
@inject NavigationManager NavigationManager;

@if (!string.IsNullOrEmpty(errorMessage)) //Muesta error del catch
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}

<div class="contenedor-login">
    
    <EditForm class="formulario" Model="usuario" OnValidSubmit="Ingresar">
        <DataAnnotationsValidator />
        <img src="/logoCentauros.png" alt="Logo de la empresa" class="logo">

        <h1 class="titulo-login">Inicio de sesión</h1>
        <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input type="email" class="input-login" placeholder="Correo" @bind="usuario.Correo" />
        </div>
        <ValidationMessage For="@(() => usuario.Correo)"></ValidationMessage>

        <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" class="input-login" placeholder="Contraseña" @bind="usuario.Clave" />
        </div>
        <ValidationMessage For="@(() => usuario.Clave)"></ValidationMessage>

        <button type="submit" name="BtnLogin" class="buttonLogin mt-3">Ingresar</button>
        
    </EditForm>
</div>

<ModalMensaje @ref="modal" />

@code {
    private ModalMensaje modal = new ModalMensaje();
    private UsuarioDTO usuario = new UsuarioDTO();
    public Respuesta<object> respuesta = new Respuesta<object>();
    public string url = "/api/Autenticacion/Validar";
    private string errorMessage = "";

    private async Task Ingresar()
    {
        try
        {
            var response = await Http.PostAsJsonAsync<UsuarioDTO>(url, usuario);
            respuesta = await response.Content.ReadFromJsonAsync<Respuesta<object>>();

            if (respuesta.Exito == 1)
            {
                NavigationManager.NavigateTo("/ListadoEstudiantes");
            }
            else
            {
                modal.Mostrar(respuesta.Mensaje);
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error al enviar la solicitud: {ex.Message}";
        }
    }


}
