<div class="top-row ps-3 navbar navbar-dark" >
    <a class="text-white d-flex align-items-center link-body-emphasis text-decoration-none" @onclick="ToggleNavMenu">
        <img src="/logoCentauros.png" class="bi pe-none me-2" width="40" height="32">
        <span class="fs-4">Menú</span>
    </a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>


<div class="@NavMenuCssClass nav-scrollable flex-column flex-shrink-0 p-2 bg-body-tertiary navMenu" >
    <ul class="nav nav-pills flex-column mb-4">
        <li class="nav-item">
            <a href="RegistroEstudiante" class="nav-link">
                @* <img class="bi pe-none me-2 " src="/nuevoEstudiante.png" width="25" height="30" /> *@
                <i class="bi pe-none me-2 oi oi-pencil" width="16" height="16"></i>
                Registrar estudiantes
            </a>
        </li>
        <li class="nav-item">
            <a href="ListadoEstudiantes" class="nav-link">
                <i class="bi pe-none me-2 oi oi-eye" width="16" height="16"><use xlink:href="#home" /></i>
                Ver estudiantes
            </a>
        </li>
    </ul>
    
    <div class="contenedorDropdown" >
        <div class="dropdown mb-2">
            <div class="custom-hr mb-2"></div>
            <a class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/user.png" alt="Imagen de usuario" width="32" height="32" class="rounded-circle me-2">
                <strong class="text-white">Sesión</strong>
            </a>
            <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Salir</a></li>
            </ul>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

@* <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary navMenu">
    <a class="text-white d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="/logoCentauros.png" class="bi pe-none me-2" width="40" height="32">
        <span class="fs-4">Menú</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="RegistroEstudiante" class="nav-link">
                <i class="bi pe-none me-2 oi oi-pencil" width="16" height="16"></i>
                Registrar estudiantes
            </a>
        </li>
        <li class="nav-item">
            <a href="ListadoEstudiantes" class="nav-link">
                <i class="bi pe-none me-2 oi oi-eye" width="16" height="16"><use xlink:href="#home" /></i>
                Ver estudiantes
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong class="text-white">Sesión</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Salir</a></li>
        </ul>
    </div>
</div> *@
