@page "/eliminarEstudiantes/{Id:int}"
@inject NavigationManager NavigationManager;
@using Data;
@using System.Net.Http;
@using System.Net.Http.Json;
@inject HttpClient Http;

<h3>EliminarEstudiante</h3>
<p>
    ¿Dese eliminar el estudiante con cedula @Id?
</p>
<div>
    <button @onclick="Cancelar">Cancelar</button>
    <button @onclick="Eliminar">Eliminar</button>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    public Respuesta<object> respuesta = new Respuesta<object>();
    public string url = "/api/Estudiante";

    private async Task Eliminar()
    {
        var response = await Http.DeleteAsync(url+"/"+Id);
        respuesta = response.Content.ReadFromJsonAsync<Respuesta<object>>().Result;
        NavigationManager.NavigateTo("/estudiantes");
    }

    private void Cancelar()
    {
        NavigationManager.NavigateTo("/estudiantes");
    }
}
