@page "/estudiantes"
@using Data;
@using System.Net.Http;
@using System.Net.Http.Json;
@inject HttpClient Http;

<h3>ListarEstudiantes</h3>

@if (respuesta == null)
{
    <p>Cargando...</p>
}
else
{
    <div class="row">
        <div class="col-12 text-right">
            <a href="formEstudiantes">Nuevo</a>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>Cedula</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th></th>
            <th></th>
        </tr>
        @if (respuesta.Data != null)
        {
            @foreach (var item in respuesta.Data)
            {
                <tr>
                    <td>@item.Cedula</td>
                    <td>@item.Nombres</td>
                    <td>@item.Apellidos</td>
                    <td>@item.Correo</td>
                    <td>
                        <a href="/formEstudiantes/@item.Cedula">Editar</a>
                    </td>
                    <td>
                        <a href="/eliminarEstudiantes/@item.Cedula">Eliminar</a>
                    </td>
                </tr>
            }
        }
    </table>
}

@code {
    public string url = "/api/Estudiante";
    public Respuesta<List<Estudiante>> respuesta;

    protected override async Task OnInitializedAsync() =>
        respuesta = await Http.GetFromJsonAsync<Respuesta<List<Estudiante>>>(url);
}
